#root {
  width: 100%;
  height: 100dvh;
  /* display: flex;
  align-items: start;
  justify-content: start; */
  /* max-width: 100%; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

/* .body {
  width: 100%;
} */